* {
  box-sizing: border-box;
}

section {
  min-height: 84vh;
}

#profilePicDiv{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.profile {
    min-height: 35vh;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

/* Application Form */
.form {
  margin-top: 15vh;
  margin-bottom: 15vh;
  padding: 20px;
  border: 1px solid black;
  border-radius: 30px;
  min-height: 70vh;
}

.row {
  margin: 15px;
}

.required:after {
  content: "*";
  color: red;
}

.soloParentRelative, .srCitizenRelative {
  border: 1px solid black;
  padding: 15px;
}